html, body {
  color: #c9d1d9;
  background-color: #0d1117;
}

body {
  padding-top: 65px;
}

.row {
  padding: 0.5em;
}

.figure {
  margin-left: 1em;
  width: 20vw;
  float: right;
  border-radius: 5px;
  background-color: #292f33;
}

.figure-img {
  border-radius: 5px 5px 0em 0em;
}

.figure-caption {
  padding: 0em 1em 1em 1em;
}

.abouttheauthor a {
  color: #a3afd1;
  text-decoration: none;
}
.thumbnail {
    background-color: #dedede;
    border-radius: 1em;
    color: #101010;
    height: 100%;
}
.thumbnail .top {
    height: 12em;
}
.thumbnail img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1em 1em 0 0;
}
.thumbnail__caption {
    padding: 1em;
}
.col-sm-3 {
    margin-bottom: 1em;
}

@media only screen and (max-width: 767px) {
  .figure {
    width: 40vw;
  }
}

.twitter-timeline {
  height: 80vh !important;
}
